.steps
    padding: 0
    &__subtitle
        margin-bottom: 59px
        text-align: center
        margin-top: 58px
    &-list
        list-style: none
        padding: 0        
        display: flex        
        justify-content: space-around
        flex-wrap: wrap
    &__card
        width: 150px
        display: flex
        text-align: center
        justify-content: center
        flex-direction: column
        align-items: center
    &-card
        align-items: center
        &__image
            display: flex
            align-items: center
            justify-content: center
            width: 100px
            height: 100px
            border: 2px solid $main-color
            border-radius: 50%
        &__text
            display: block
            margin-top: 30px
            +reg
.section
    margin-top: 0
    padding-top: 0
    &__text
        background: #ffc000
.text
    &__title       
        max-width: 800px
        line-height: 1.6
.section
    &__text
        padding: 100px 0
@media (max-width: 900px)
    .steps
        &-list
            &__arrow
                display: none
@media (max-width: 350px)
    .section-steps                
        margin-top: -30px
        padding-top: 0
    .steps
        &-list
            flex-direction: column
            align-items: center       
